.cards  {
  display: grid;
  grid-template: 1fr 1fr 4fr / 1fr;
  grid-template-areas: "superior"
                        "superior" 
                        "left"
                        "footer"
                        "footer"
                        "footer";
  grid-gap: 300px;
  height: 90vh;
}

.header > h1{
  text-align: center;
  font-style: italic;
  font-size: 50px;
  color: #474747;
  display: block;
  position: absolute;
}

.superior{
  grid-area: superior;
  padding-top: -100px;
}

.left{
    grid-area: left;
    background-color: #474747;
}

.right{
    grid-area: right;
    background-color: #474747;
}


.card {
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px rgb(0,0,0,0.2);
  border-radius: 6px;
  margin-top: 20px; margin-bottom: 30px;
  flex-basis: 200px;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #1a1a1acf;
  color: white;
  text-align: center;
}

.card img {
  width: 100px;
  border-radius: 6px;
  padding: 0px 20px;

}

.card h2 {
  font-size: 24px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 18px;
}

.card p {
  font-size: 20px;
}



#img-circle{
  border-radius: 50%;
}

.card i {
  font-size: 80px;
  padding: 0px 15px;
  text-align: center;
  align-items: center;

}


.card a {
  font-size: 14px;
  padding: 6px 10px;
  text-align: center;
  margin: 10px auto;
  justify-content: center;
}

.nuestros-contactos {
  text-align: center;
  margin-bottom: 200px;
  justify-content: center;
}


#img-circle2{
  border-radius: 90%;
  size: 0ch;
}

#img-icono{
  max-width: 40%;
  max-height: 50%;

}
